<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/adminform/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminform/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/adminform/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/adminform/css/main.css" />
    <!--===============================================================================================-->
    <style type="text/css">
      .topcorner {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 25px;
      }
    </style>
    <style type="text/css">
      .topleft {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 25px;
      }
    </style>
  </head>
  <body>
    <div class="container-contact100">
      <div class="topleft">
        <a href="/"
          ><i class="fa fa-home" style="font-size:30px;color:red"></i>&nbsp;
          <span style="font-size: 16px; color:black">Homepage</span>
        </a>
      </div>
      <div class="topcorner" style="vertical-align: middle;">
        <a href="/logout"
          ><i class="fa fa-sign-out" style="font-size:30px;color:red"></i>&nbsp;
          <span style="font-size: 16px; color:black">Logout</span>
        </a>
      </div>
      <div class="wrap-contact100">
        <form
          class="contact100-form validate-form"
          id="createform"
          method="POST"
          onsubmit="create(this)"
        >
          <span class="contact100-form-title">
            Register A Bike
          </span>

          <div
            class="wrap-input100 validate-input"
            data-validate="Name is required"
          >
            <span class="label-input100">Bike Name</span>
            <input
              class="input100"
              type="text"
              name="name"
              placeholder="Enter the bike name"
              required
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <span class="label-input100">Bike Brand</span>
            <input
              class="input100"
              type="text"
              name="brand"
              placeholder="Enter the bike brand"
              required
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <span class="label-input100">Engine Capacity</span>
            <input
              class="input100"
              type="number"
              name="engine"
              placeholder="Enter the engine capacity"
              required
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <span class="label-input100">Color</span>
            <input
              class="input100"
              type="text"
              name="color"
              placeholder="Enter the bike color"
              required
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <span class="label-input100">Price</span>
            <input
              class="input100"
              type="number"
              name="price"
              placeholder="Enter the price of the bike"
            />
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 input100-select">
            <span class="label-input100">Category</span>
            <div>
              <select class="selection-2" name="category">
                <option>Sports</option>
                <option>Naked Sports</option>
                <option>Scooter</option>
                <option>Cruiser</option>
                <option>Dirt</option>
              </select>
            </div>
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Image URL is required"
          >
            <span class="label-input100">Image URL</span>
            <input
              class="input100"
              type="url"
              name="image_url"
              placeholder="Enter The Image URL"
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Message is required"
          >
            <span class="label-input100">Details</span>
            <textarea
              class="input100"
              name="details"
              placeholder="Enter specs, other details..."
            ></textarea>
            <span class="focus-input100"></span>
          </div>

          <div class="container-contact100-form-btn">
            <div class="wrap-contact100-form-btn">
              <div class="contact100-form-bgbtn"></div>
              <button class="contact100-form-btn" type="submit">
                <span>
                  Submit
                  <i
                    class="fa fa-long-arrow-right m-l-7"
                    aria-hidden="true"
                  ></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/adminform/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/adminform/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/adminform/vendor/bootstrap/js/popper.js"></script>
    <script src="/adminform/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/adminform/vendor/select2/select2.min.js"></script>
    <script>
      $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $("#dropDownSelect1")
      });
    </script>
    <!--===============================================================================================-->
    <script src="/adminform/vendor/daterangepicker/moment.min.js"></script>
    <script src="/adminform/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/adminform/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/adminform/js/main.js"></script>
    <script>
      var create = data => console.log(data, "hello");
    </script>
  </body>
</html>
